@model List<KartverketProsjekt.Models.IdeaSchemeModels.UsersIdeaScheme>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/5eea027e19.js" crossorigin="anonymous"></script>
</head>



 <div class="box">
        <input type="text" placeholder="Søk..."/>
        <a href="#">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
 </div>



<body>
    <table class="table table-sortable">
        <thead>
            <tr>
                <th>Dato</th>
                <th>Id</th>
                <th>Profesjonell/privat</th>
                <th>Prioritet</th>
                <th>Beskrivelse</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var tableItems in Model){
            <tr>
                <td>@tableItems.Date</td>
                <td>@tableItems.UserSchemeId</td>
                <td>@tableItems.Profession</td>
                @if(tableItems.HighPriority != null)
                {
                   <td>@tableItems.HighPriority</td>
                }

                else if (tableItems.MediumPriority != null)
                 {
                        <td>@tableItems.MediumPriority</td>
                 }

                else if (tableItems.LowPriority != null)
                 {
                        <td>@tableItems.LowPriority</td>
                 }

                 else
                  {
                     <td>Ingen prioritering valgt</td>
                  }

                <td>@tableItems.Description</td>
            </tr>
        
            }
        </tbody>
    </table>

    
</body>
<script src="~/js/tablesort.js"></script>
<script src="~/js/site.js"></script>

