@using KartverketProsjekt.Models.DomainModels

@model List<MapReportModel>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/5eea027e19.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<div class="box">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" id="searchTable" placeholder="Søk..." />
</div>

<div id="portexe-search-root">
    <div id="portexe-table-container">
        @if (Model != null && Model.Any())
        {
            <table class="table table-sortable" id="firstTableId">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Dato</th>
                        <th>Beskrivelse</th>
                        <th>GeoJson</th>
                        <th>Kartlag</th>
                        <th>Vedlegg</th> <!-- Ny kolonne for vedleggsindikator -->
                        <th>Detaljer</th> <!-- Kolonne for detaljlenke -->
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var mapReport in Model)
                    {
                        <tr>
                            <td>@mapReport.MapReportId</td>
                            <td>@mapReport.SubmissionDate</td>
                            <td>@mapReport.Description</td>
                            <td>@mapReport.GeoJsonString</td>
                            <td>@mapReport.MapLayer.MapLayerType</td> <!-- NB! since the model is nested, you can do that to get a specific value -->
                            
                            <td>
                            
                                    @if (mapReport.Attachments != null && mapReport.Attachments.Any())
                                    {
                                    <span class="badge bg-success">Vedlegg tilgjengelig</span> <!-- Indikator for vedlegg -->
                                    }
                                    else
                                    {
                                    <span class="badge bg-secondary">Ingen vedlegg</span> <!-- Indikator for ingen vedlegg -->
                                    }
                            </td>
                            <td>
                                <a asp-area=""
                                   asp-controller="MapReport"
                                   asp-action="ViewReport"
                                   asp-route-id="@mapReport.MapReportId">
                                    <img src="~/images/green-arrow.svg" alt="Gå til" style="height: 40px;" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Ingen innmeldinger funnet!</p>
        }


    </div>
</div>

<script>var modelData = @Html.Raw(Json.Serialize(Model)); </script>

<script src="~/js/site.js"></script>
